body {
    background-image: url(./basketball-court-4k-p9-640x1136.jpg);
    background-size:cover;
    background-repeat: no-repeat;
}
header {
    height: 50px;
    width: 1500px;
    background-size: cover;

}
header h1 {color:rgb(255, 255, 255)}

.photo {
margin-top: 30px;
margin-left: 570px;
}

.presentation {

}
.blanc {
    color:antiquewhite
}
.premierbloc {

}
.premierbloc {border: 1px solid black; padding: 5px;}

.exp-logo {
    flex: 0 0 100%;
}
.exp-info .exp-desc {
    flex: 0 0 85%;
    margin-left: auto;
}
p { color: rgb(3, 3, 3);
}

h3, h4 { color:rgb(0, 0, 0)}

h2 { color:rgb(208, 87, 238)}

h1 {color:black;}